.categoryWrapper {
  position: sticky;
  background-color: #fff;
  margin: 0 auto;
  top: 48px;

  @media (width > 767px) {
    position: static;
    top: 0;

    & ul {
      & li {
        text-align: center;
      }
    }
  }

  & ul {
    display: flex;
    font-size: 0.625rem;
    padding: 0.5rem 0;
    justify-content: space-around;
  }
  & h3 {
    display: none;
    @media (width > 767px) {
      display: block;
    }
  }
}
.categoryContainer {
  padding-bottom: 0.8rem;

  & h3 {
    color: var(--primary);
    background-clip: text;
    font-style: 700;
    transition: all 250ms ease-in-out;
    cursor: pointer;

    &:hover {
      background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        purple
      );
      transform: scale(1.1);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }
}

.categoryIcons {
  width: 40px;
  height: 40px;
}
