.videoWrapper {
  & h2 {
    margin-bottom: 1rem;
  }

  & li {
    margin: 1rem 0;
  }

  @media (width > 767px) {
    padding: 0 1rem;
  }
}
.videoDetails {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  text-align: justify;
}
.videoContainer {
  max-width: 1024px;
  margin: 0 auto;
  /* padding: 1rem; */
}
.videoList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */

  & li {
    /* border: 1px solid red; */
    border-radius: 5px;
    margin: 1rem;
    box-shadow: 1px 1px 4px #b7b5b5;

    & img {
      width: 100%;
    }
  }

  @media (width > 767px) {
    grid-template-columns: repeat(3, 1fr);
    /* padding: 0; */
  }
}
