.categoryWrapper {
  position: sticky;
  background-color: #fff;
  margin: 0 auto;
  top: 55px;

  @media (width > 767px) {
    position: static;
    top: 0;

    & ul {
      & li {
        text-align: center;
      }
    }
  }

  & ul {
    display: flex;
    font-size: 0.625rem;
    padding: 0.5rem 0;
    justify-content: space-around;
  }
  & h3 {
    display: none;
    @media (width > 767px) {
      display: block;
    }
  }
}
.categoryContainer {
  padding: 0.8rem 0;
  /* width: 100%; */

  /* border: 1px solid tomato; */

  /* display: flex; */
}

.categoryIcons {
  width: 40px;
  height: 40px;
  /* margin-right: 1rem; */
  @media (width > 767px) {
  }
}
