.backBtn {
  position: fixed;
  z-index: 20;
  top: 171px;
  left: 1rem;
  background-color: var(--LOADER-COLOR);
  color: var(--LIGHT);
  border-radius: 5px;
  padding: 0.5rem;
  /* opacity: 0.7; */

  @media (width > 767px) {
    display: flex;
    /* top: 160px; */
    top: 90px;
    /* left: 13.5rem; */
  }

  &:hover {
    opacity: 1;
  }
}
