.backBtn {
  position: fixed;
  z-index: 20;
  top: 171px;
  left: 1rem;
  background-color: var(--LOADER-COLOR);
  color: var(--LIGHT);
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.3s ease;

  opacity: 1;

  @media (width > 767px) {
    display: flex;
    top: 160px;
    /* top: 90px; */
    /* left: 13.5rem; */
  }

  &:hover {
    /* background-color: var(--LOADER-COLOR-LIGHT); */

    opacity: 0.8;
  }
}
