.backBtn {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--LOADER-COLOR);
  color: var(--LIGHT);
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  opacity: 0.8;

  @media (width > 767px) {
    display: none;
  }
  &:hover {
    opacity: 1;
  }
}
