/* .toyWrapper {
  margin-top: 1rem;

  & h2 {
    margin-bottom: 1rem;
  }

}
.toyDetails {
  text-align: justify;

  & p {
    margin-bottom: 1rem;
  }
}

.toyList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;

  @media (width > 767px) {
    grid-template-columns: repeat(3, 1fr);
  }

  & li {
    border-radius: 5px;
    box-shadow: 1px 1px 4px #b7b5b5;
  }
}
.lazyLoadContainer {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover {
    transform: scale(1.1);
  }
}
.lazyLoad {
  cursor: pointer;
  object-fit: contain;
  object-position: top;
  width: 100%;
} */

.toyImage {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;

  @media (width > 1023px) {
    height: 400px;
  }
}
