.menuBtn {
  background-color: #fff;
  /* padding: 0.5rem; */
}

.menuIcon {
  width: 20px;
  height: 20px;
  /* background-color: #fff; */
  /* margin: 0.5rem; */

  @media (width > 767px) {
    display: none;
  }
}
