.categoryHomeWrapper {
  position: sticky;
  background-color: #fff;
  margin: 0 auto;
  top: 80px;
  padding-bottom: 0.8rem;

  @media (width > 767px) {
    /* top: 55px; */

    & ul {
      & li {
        text-align: center;
      }
    }
  }

  & ul {
    display: flex;
    font-size: 0.625rem;
    /* padding: 0.5rem 0; */
    justify-content: space-around;
  }
  & h3 {
    /* display: none; */
    @media (width > 767px) {
      display: block;
    }
  }
}
.categoryHomeContainer {
  /* padding-bottom: 0.8rem; */
  max-width: 1024px;
  margin: 0 auto;

  & form {
    position: sticky;
    top: 48px;
  }
}

.categoryHomeBtn {
  padding: 0 0.3rem;
  color: var(--primary);
  background-clip: text;
  transition: all 250ms ease-out;
  margin: 0.5rem 0;

  &:hover,
  &:focus {
    transform: scale(1.1);
    background-color: var(--primary);
    background: linear-gradient(
      90deg,
      red,
      orange,
      yellow,
      green,
      blue,
      purple
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    box-shadow: 1px 1px 4px #b7b5b5;
  }
}
.categoryHomeIcons {
  width: 40px;
  height: 40px;
}
