.menuDeskListContainer {
  @media (width > 767px) {
    display: flex;
  }
}
.menuDeskList {
  display: none;
  @media (width > 767px) {
    display: flex;
    gap: 1rem;
    & span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }
}

.menuDeskListItem {
  background-clip: text;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  width: 100%;
  padding: 0.8rem;
  border-color: darkgray;
  color: #fff;

  &:hover {
    background: linear-gradient(
      90deg,
      red,
      orange,
      yellow,
      green,
      blue,
      purple
    );
    transform: scale(1.1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.menuLinkActive {
  /* composes: menuDeskListItem; */
  color: var(--HIGHLIGHT-COLOR);
}
