.menuDeskListContainer {
  @media (width > 767px) {
    display: flex;
  }
}
.menuDeskList {
  display: none;

  @media (width > 767px) {
    display: flex;
    gap: 1rem;

    & span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        transform: scale(1.1);
        color: var(--HIGHLIGHT-COLOR);
      }
    }
  }
}

.menuDeskListItem {
  width: 100%;
  padding: 0.8rem;
}

.menuLinkActive {
  color: var(--HIGHLIGHT-COLOR);
  font-weight: 700;
}
