.mainWrapper {
}
.heroContainer {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  background: linear-gradient(rgba(46, 47, 66, 0.071), rgba(46, 47, 66, 0.943)),
    url('../../images/trev.png');
  margin-bottom: 1rem;

  & img {
    display: flex;
    width: 100%;
    object-fit: contain;

    @media (width > 767px) {
      height: 500px;
    }
  }
}

.mainContainer {
  max-width: 1024px;
  text-align: justify;
  /* padding: 1rem; */
  margin: 0 auto;
}
.mainContent {
  padding: 0 1rem;

  & p {
    padding: 1rem 0;
  }

  & strong {
    display: inline;
    color: var(--HIGHLIGHT-COLOR);
  }
}
.aboutMe {
  padding: 1rem 0;

  @media (width > 767px) {
    & h2 {
      padding: 1rem;
    }
  }
}
