.headerWrapper {
  /* max-width: 1440px; */
  margin: 0 auto;
  position: sticky;
  top: 0px;
}
.headerContainer {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 100%;
  padding: 1rem;
  border-color: #e2e2ee;
  border-bottom: 1px solid white;
  background-color: white;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;

  @media (width > 767px) {
    display: flex;
    justify-content: center;
  }
}
