.profileWrapper {
  background-color: #fff;
  margin: 0 auto;

  @media (width > 767px) {
    & ul {
      & li {
        text-align: center;
      }
    }
  }

  & ul {
    display: flex;
    font-size: 0.625rem;
    padding: 0.5rem 0;
    gap: 10px;
    /* justify-content: space-around; */
  }
}
.profileContainer {
  padding-bottom: 0.8rem;

  & h1 {
    margin-top: 1rem;
  }

  & p {
    text-align: justify;
    margin: 1rem auto;
  }

  & h6 {
    margin: 0.5rem auto 1rem;
  }
}

.profileIcons {
  width: 40px;
  height: 40px;
}
.lazyLoadContainer {
  display: flex;
  /* flex-direction: column; */
  border-radius: 5px;

  @media (width > 767px) {
    display: flex;
    justify-content: center;
  }
}
.lazyLoad {
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
  cursor: pointer;

  @media (width > 767px) {
    width: 300px;
  }
}

.profileImage {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 4px #b7b5b5;

  @media (width > 767px) {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    align-items: center;
  }
  & p {
    text-align: center;
  }
}

.detailsContainer {
  display: grid;
  /* column-gap: 10px; */
  /* align-items: center; */
  /* font-size: 0.825rem; */
  grid-template-columns: repeat(1, 1fr);
  /* row-gap: 5px; */
  font-size: 1rem;

  @media (width > 767px) {
    font-size: 2rem;
  }

  & p {
    margin: 1rem 0 0;

    @media (width > 767px) {
      margin: 1rem 0;
      /* font-size: 2.5rem; */
      /* font-weight: 700; */
    }
  }
}
