.navWrapper {
  max-width: 1024px;
  display: flex;
  align-items: center;
  @media (width > 767px) {
    justify-content: flex-end;
    width: 100%;
    /* margin: 0 auto; */
  }
}
.menuIcon {
  width: 20px;
  height: 20px;
  @media (width > 767px) {
    display: none;
  }
}
.navListContainer {
  display: flex;
}
/* .home,
.profile,
.services,
.contacts,
.help {
  display: none;

  @media (width > 767px) {
    display: block;
  }
} */
.navList {
  display: none;

  @media (width > 767px) {
    display: flex;
    gap: 1rem;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}

.trevi-icon {
  width: 20px;
}
.navListItem {
  color: var(--primary);
  background-clip: text;
  font-style: 700;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: linear-gradient(
      90deg,
      red,
      orange,
      yellow,
      green,
      blue,
      purple
    );
    transform: scale(1.1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
