.navWrapper {
  max-width: 1024px;
  @media (width > 767px) {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
}
.navListContainer {
  display: flex;
}
.home,
.profile,
.services,
.contacts,
.help {
  display: none;

  @media (width > 767px) {
    display: block;
  }
}
.navList {
  display: flex;
  gap: 1rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5rem; */
}
.logo {
  background-color: #e76f51;
  width: 60px;
  border-radius: 100px;
  padding: 2px;
  /* margin-top: 5px; */
}
.trevi-icon {
  width: 20px;
}
.navListLink p {
  color: var(--primary);
  background-clip: text;
  font-style: 700;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: linear-gradient(
      90deg,
      red,
      orange,
      yellow,
      green,
      blue,
      purple
    );
    transform: scale(1.1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
